body{
    margin: 0;
    Font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
}
header{
    background-color: darkcyan;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1,h2{
    font-family: 'PT Mono', monospace;
}
header h1{
    color: white;
    font-size: 50px;
    
}
header img{
    border-radius: 200px;
    width: 400px;
    border: 20px solid orange;
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
main img{
    max-width: 100%;
}
h2{
    font-size: 30px;
    color: orange;
    margin: 40px 0 10px;
}
a{
    color: orange;
}
a:hover{
    color: darkcyan ;
}
footer{
    background-color: darkcyan;
    text-align: center;
    color: white;
    padding: 50px;
}
footer p{
    margin: 0;
}
footer a{
    color: white;
}
p.caption{
    color: lightgrey;
    font-style: italic;
    margin-top: 0;
}